body {
  display: flex;
  flex-flow: column;
  align-items: center;
  justify-content: center;
}

.scoreContainer{
	display: flex;
	flex-flow: row;
	align-items: center;
	justify-content: center;
}

.scoreCard {
  display: flex;
  flex-flow: column;
  max-width: 300px;
  overflow: hidden;
  padding: 10px;
}

.scoreCard img {
	height: auto;
}


